*{
  font-family: "montserrat",sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #333;
}

/* drag and drop implementation */
#drop_zone {
  background-color: #3451; 
  border: #999 1px dashed;
  width: 55%;
  height: 200px;
  padding: 8px;
  font-size: 18px;
  transition:2s;
}

#drop_zone:hover
{
background-color: #272626; 
}




/* label */
label
{
  color: white;
}


/* Bouton */
.btn{
  border: 1px solid #3498db !important;
  background: none !important;
  padding: 10px 20px !important;
  font-size: 20px !important;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px !important;
  transition: 0.8s !important;
  position: relative !important;
  overflow: hidden !important;
  
}
.btn1{
  color: #3498db !important;
}
.btn1:hover{
  color: #fff !important;
}
.btn::before{
  content: ""!important;
  position: absolute!important;
  left: 0 !important;
  width: 100% !important;
  height: 0% !important;
  background: #3498db!important;
  z-index: -1;
  transition: 0.8s!important;
}
.btn1::before{
  top: 0 !important;
  border-radius: 0 0 50% 500% !important;
  
}
.btn1:hover::before{
  height: 180% !important;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* adji */

/* input file design */

input[type="email"] {
  height: 45px ;
  width: 55%; 
  border: 2px solid #aaa;
  border-radius: 5px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="email"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="email"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 4px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="email"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.message
{
  margin-left: -1.6%;
}
